---
http_interactions:
- request:
    method: post
    uri: https://api.kycaid.com/applicants
    body:
      encoding: UTF-8
      string: dob=1986-05-03&email=john_baker%40gmail.com&first_name=John&last_name=Baker&residence_country=GB&sandbox=true&type=PERSON
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37-70C+9HNMuABDS8QCTq91im7aEUo"
    body:
      encoding: UTF-8
      string: '{"applicant_id":"0463284c08cdf5449b297b65f570994edba4"}'
  recorded_at: Mon, 25 May 2020 10:07:29 GMT
- request:
    method: post
    uri: https://api.kycaid.com/applicants
    body:
      encoding: UTF-8
      string: dob=1986-05-03&email=john_baker%40gmail.com&first_name=John&last_name=Baker&residence_country=GB&sandbox=true
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60-mMiFAU8TUlADfEgp8fNp3Z3uSVk"
    body:
      encoding: UTF-8
      string: '{"type":"validation","errors":[{"parameter":"type","message":"Type
        of applicant is not valid"}]}'
  recorded_at: Mon, 25 May 2020 10:07:29 GMT
[...]
- request:
    method: get
    uri: https://api.kycaid.com/applicants/72610deb0d62c54f9c2a0574ca7c1d27e1f8?sandbox=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5-ddV8wphgkMPnvx06jOM/pNoEVRM"
    body:
      encoding: UTF-8
      string: '{"applicant_id":"72610deb0d62c54f9c2a0574ca7c1d27e1f8","first_name":"John","last_name":"Baker","dob":"1986-05-03","residence_country":"GB","email":"john_baker@gmail.com"}'
  recorded_at: Mon, 25 May 2020 10:07:30 GMT
- request:
    method: get
    uri: https://api.kycaid.com/applicants/0463284c08cdf5449b297b65f570994edba4?sandbox=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5-xEg+ZP3rScGfMajg5/wEpwwdk4E"
    body:
      encoding: UTF-8
      string: '{"applicant_id":"0463284c08cdf5449b297b65f570994edba4","first_name":"John","last_name":"Baker","dob":"1986-05-03","residence_country":"GB","email":"john_baker@gmail.com"}'
  recorded_at: Mon, 25 May 2020 10:09:11 GMT
recorded_with: VCR 5.1.0
