---
http_interactions:
- request:
    method: post
    uri: https://api.kycaid.com/applicants
    body:
      encoding: UTF-8
      string: dob=1986-05-03&email=john_baker%40gmail.com&first_name=John&last_name=Baker&residence_country=GB&sandbox=true&type=PERSON
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37-qzHK7p1b3dLZqqmGg1fY7Rw/POY"
    body:
      encoding: UTF-8
      string: '{"applicant_id":"72610deb0d62c54f9c2a0574ca7c1d27e1f8"}'
  recorded_at: Sun, 24 May 2020 12:54:42 GMT
- request:
    method: post
    uri: https://api.kycaid.com/applicants
    body:
      encoding: UTF-8
      string: dob=1986-05-03&email=john_baker%40gmail.com&last_name=Baker&residence_country=GB&sandbox=true&type=PERSON
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e-55vJODf/JXnHRAymuQAeEqE9dl8"
    body:
      encoding: UTF-8
      string: '{"type":"validation","errors":[{"parameter":"first_name","message":"First
        name is required"}]}'
  recorded_at: Sun, 24 May 2020 12:54:42 GMT
- request:
    method: post
    uri: https://api.kycaid.com/applicants
    body:
      encoding: UTF-8
      string: sandbox=true
    headers:
      Authorization:
      - Token d9883415047de3439328df17b0310569669a
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60-mMiFAU8TUlADfEgp8fNp3Z3uSVk"
    body:
      encoding: UTF-8
      string: '{"type":"validation","errors":[{"parameter":"type","message":"Type
        of applicant is not valid"}]}'
  recorded_at: Sun, 24 May 2020 12:54:42 GMT
recorded_with: VCR 5.1.0
